.env
Config/MongoDbConnectionChecker.cs
bin/
obj/Debug/net8.0/EAD-BE.sourcelink.json
EAD-BE.csproj
obj/Debug/net8.0/EAD-BE.AssemblyInfo.cs
obj/Debug/net8.0/EAD-BE.AssemblyInfoInputs.cache
obj/Debug/net8.0/EAD-BE.assets.cache
obj/Debug/net8.0/EAD-BE.csproj.AssemblyReference.cache
obj/Debug/net8.0/EAD-BE.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/EAD-BE.csproj.FileListAbsolute.txt
obj/Debug/net8.0/EAD-BE.dll
obj/Debug/net8.0/EAD-BE.pdb
obj/Debug/net8.0/ref/EAD-BE.dll
obj/Debug/net8.0/refint/EAD-BE.dll
obj/EAD-BE.csproj.nuget.dgspec.json
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.model.nuget.info
obj/rider.project.restore.info
obj/
